############################################################
# AEYE AI Driver Gitignore



############################################################


############################################################
# PyCche
/AEYE_AI/__pycache__/*
/AEYE_AI/AEYE/__pycache__/*
/AEYE_AI/AEYE_APPLICATION/__pycache__/*
/AEYE_AI/AEYE_HAL/__pycache__/*
/AEYE_AI/AEYE_HAL/AEYE_Driver/__pycache__/*
/AEYE_AI/AEYE_HAL/AEYE_Driver/src/__pycache__/*

/AEYE_AI/AEYE_MW/__pycache__/*
/AEYE_AI/config/__pycache__/*


/AEYE_Network_Operator/AEYE_Network_Operator/__pycache__/*

/AEYE_Network_Operator/api/__pycache__/*
/AEYE_Network_Operator/api/views/__pycache__/*

/AEYE_Network_Operator/hal/__pycache__/*
/AEYE_Network_Operator/hal/views/__pycache__/*

/AEYE_Network_Operator/mw/__pycache__/*
/AEYE_Network_Operator/mw/views/__pycache__/*

/Docker/build.log

############################################################
# Weight File
/AEYE_Network_Operator/media/images/*
/AEYE_Network_Operator/mw/views/weight/*.h5
/AEYE_Network_Operator/mw/views/images/*
/AEYE_AI/tmp_chunk/*


############################################################
# Docker File
/Docker/build.log
/Docker/docker-compose.log

############################################################
# Python File
/AEYE_Network_Operator/mw/views/AEYE_KEY*
/AEYE_Network_Operator/mw/views/test*